.ReviewWrapper {
    .ReviewContainer {

        .bgGrey {
            padding: 20px;
            margin: 10vh 0;
            
            .title p {
                color: #c99a3c;
                font-size: 3rem !important;
                font-weight: 600;
            }
            
            .emailConfirm {
                font-size: 20px;
            }
            
        }
    }
}


p {
    margin: 0;
}
button:focus-visible {
    outline: none;
}

@media screen and (max-width: 550px) {
    .ReviewWrapper {
        .ReviewContainer {
    
            .bgGrey {
                padding: 20px;
                margin: 5vh 0;
                
                .title p {
                    color: #0c2f54;
                    font-size: 2rem !important;
                    font-weight: 600;
                }
                
                .emailConfirm {
                    font-size: 18px;
                }
                
            }
        }
    }
        
}

.submitReview{
    background-color: #c99a3c;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient(to right,#BE892A, #D3A74B,#C69537,#F5D77F);

}

.printInvoiceBtn{
    background-image: linear-gradient(to right,#BE892A, #D3A74B,#C69537,#F5D77F);

}
.swal2-confirm{
    background-image: linear-gradient(to right,#BE892A, #D3A74B,#C69537,#F5D77F) !important;
}

.swal2-styled.swal2-confirm:focus{
    color: #FFF !important;
}